 $pink: #CC0075;
$blue: #00CCD1;
$moss: #4a5d23;
$army: rgba(75, 83, 32, .8);
$dirt: #963C00;
$devilslettuce: #2FB222;
$odblue: #2412B2;
$fairydustblue:#1C00FF;
$use-fadeIn: true;
$use-fadeInRight: true;
$use-fadeInLeft: true;
$use-slideInLeft: true;
$use-slideInRight: true;
