
.grid {
  max-width: 1440px;
  margin: 0px auto 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  article  .title {
    margin: 55px;
  }
  .button{
    text-align: center;
    width: 100%;
  }
  .tile{height:75%;}
  // .is-child{
  //   &:not(:first-child){
  //     margin-left: 10px !important;
  //   }
  .subtitle{
    text-align: center;
  }
}

.hero{
  width: 100%;
  max-width: 1440px;
}
.maxwidth{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;


}
