
// .grid {
//   max-width: 100%;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-row: auto;
//   // grid-gap: 1%;
//
//   .product-box {
//
//     img{
//       width: 100%;
//       margin: 10px 10px;
//
//     }
//   }
// }
.grid {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  .button{
    text-align: center;
  }
}
