
.grid {
  max-width: 1440px;
  margin: auto auto 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  article  .title {
    margin: 55px;
  }
  .button{
    text-align: center;
    width: 100%;
    min-width: 325px;
    max-width: 440px;
    &:first-child{
      background-color:$odblue;
    }
  }
  .tile{
    height:75%;
    color: white;

    img {
      height: 325px;
      background-color: white;
      border-radius: 5px;
      min-width: 345px;
      max-width: 440px;
      }
    }
  .is-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primBlue;
    border: 1px solid radius;
  .subtitle{
    text-align: center;
    }
  }
}

.maxwidth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.is-danger{
  background-color: #ED8F00 !important;
  margin-bottom: 10px;
}
