
.grid {
  max-width: 1440px;
  margin: auto auto 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  article  .title {
    margin: 55px;
  }
  .button{
    text-align: center;
    width: 100%;
    &:first-child{
      background-color:$odblue;
    }
  }
  .tile{
    // height:75%;

    color: white;
    .is-child{
    background-color: $army;

    // border: solid 1px red;

    img{height: 325px;background-color: white;border-radius: 5px;}
    }
  }
  // .is-child{
  //   &:not(:first-child){
  //     margin-left: 10px !important;
  //   }
  .subtitle{
    text-align: center;
  }
}

.hero{
  width: 100%;
  max-width: 1440px;
  // background-color: $moss !important;
}
.maxwidth{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;


}
.is-danger{
  background-color: $dirt !important;
}
