
// .grid {
//   max-width: 100%;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-row: auto;
//   // grid-gap: 1%;
//
//   .product-box {
//
//     img{
//       width: 100%;
//       margin: 10px 10px;
//
//     }
//   }
// }
.grid {
  max-width: 1440px;
  margin: -72px auto 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  article  .title {
    margin: 55px;
  }
  .button{
    text-align: center;
    width: 100%;
  }
  .tile{height:75%;}
  // .is-child{
  //   &:not(:first-child){
  //     margin-left: 10px !important;
  //   }
  .subtitle{
    text-align: center;
  }
}

.hero{
// text-align: center;
  // max-width: 1440px;
}
.maxwidth{
  // max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;


}
