@import 'abstracts/_mixins.scss';
@import 'abstracts/_variables.scss';

@import 'base/_typography.scss';
@import 'components/_buttons.scss';

@import 'layout/_header.scss';
@import 'layout/_footer.scss';
@import 'layout/_grid.scss';

@import "pages/_home.scss";
@import "../../node_modules/animate-sass/_animate.scss";
@import 'layout/_main.scss';
